%h1 About symposium
%p Симпозиум по радиационной плазмодинамике проводится МГТУ им. Н.Э. Баумана с 1989 года в соответствии с совместным решением Минвуза СССР (зам. министра И.М. Макаров) и Отделения физико-технических проблем энергетики АН СССР (академик-секретарь Отделения В.А. Кириллин) от 22.01.1988 года
