%p The Symposium on radiation plasma dynamics is held by Bauman MSTU since 1989 according to the joint decision of the USSR Ministry of Education ( Deputy Minister I. M. Makarov) and the Department of Physics and Technology Problems of Power Engineering Sciences (Academician-secretary of the Department V. A. Kirillin) on 22.01.1988.
%p The program of the Symposium includes the following topics:

%ol
	-@themes.each do |theme|
		%li= theme.title
		%br