%h3 Organizing committee vice-chairman:
%p Kozlov Nikolai Pavlovich
%p phone: (499) 263-69-19
%h3 Academic secretary:
%p Grishin Yury Mikhailovich
%p phone: (499) 263-67-29
%h3 Technical secretaries:
%p Rydkin Maxim Vladimirovich
%p phone: (499) 263-67-29
%p 
	E-mail: 
	= mail_to "rydkin.rpd2012@yandex.ru"
%p Ivakhnenko Ekaterina Yurievna
%p phone: (499) 261-45-70
%p
	E-mail: 
	= mail_to "Ekat.Ivah@gmail.com"
%h3 Addresses for correspondence:
%p Legal address: 105005, Moscow, ul. 2-ya Baumanskaya, d.5, str.1
%p De facto address: 105005, Moscow, Lefortovskaya nab., d.1