%h3 Заместитель председателя оргкомитета:
%p Козлов Николай Павлович
%p Тел: (499)-263-69-19
%h3 Ученый секретарь:
%p Гришин Юрий Михайлович
%p Тел: (499)-263-67-29
%h3 Технические секретари:
%p Рыдкин Максим Владимирович
%p Тел: (499)-263-67-29
%p 
	E-mail: 
	= mail_to "rydkin.rpd2012@yandex.ru"
%p Ивахненко Екатерина Юрьевна
%p Тел: (499)-261-45-70
%p E-mail: 
%h3 Адрес для корреспонденции:
%p Юридический адрес: 105005, г. Москва, ул. 2-я Бауманская, д.5, стр.1
%p Фактический адрес: 105005, г. Москва, Лефортовская наб., д.1