%p
%h3 Заместитель Председателя Оргкомитета:
Козлов Николай Павлович

Тел:	8 (931) 298-02-50 звонить с 12:00 до 20:00
E-mail:	secretary@si2012.org

Ученый секретарь:


Технический секретарь:



Адрес для корреспонденции:
194021, Санкт-Петербург, ул. Политехническая, д. 26
(с пометкой Si2012)