%h3 Заместитель председателя оргкомитета:
%p Козлов Николай Павлович
%p Тел: (499)-263-69-19
%p E-mail: 
%h3 Ученый секретарь:
%p Гришин Юрий Михайлович
%p Тел: (499)-263-67-29
%p E-mail:
%h3 Технические секретари:
%p Рыдкин Максим Владимирович
%p Тел: (499)-263-67-29
%p E-mail:
%p Ивахненко Екатерина
%p Тел: (499)-261-45-70
%p E-mail:
%h3 Адрес для корреспонденции:
%p 105005, г. Москва, а/я 38, ЗАО ЦВТМ, РПД – 2012 (уточнить)