.dates
	%table
		%tr.row
			%td.centered 20.03.2012
			%td Первое информационное сообщение
		%tr.row
			%td.centered 06.06.2012
			%td Дополнение к первому информационному сообщению
		%tr.row
			%td.centered= application_deadline
			%td Завершение регистрации и приема заявок на участие
		%tr.row
			%td.centered= abstracts_deadline
			%td Завершение приема текстов докладов
		%tr.row
			%td.centered 6.11.2012 - 9.11.2012
			%td Работа Симпозиума