.dates
	%table
		%tr.row
			%td.centered 19.03.2012
			%td Первое информационное сообщение
		%tr.row
			%td.centered= speech_deadline
			%td Завершение приема заявок на участие и текстов докладов
		%tr
			.row
				%td.centered 15.06.2012
				%td Второе информационное сообщение с извещением о включении доклада в работу Симпозиума и оплате оргвзноса
		%tr.row
			%td.centered 15.10.2012
			%td Третье информационное сообщение о дате, месте проведения Симпозиума и программе его работы
		%tr.row
			%td.centered ноябрь 2012
			%td Работа Симпозиума