%p 29.02.2012 Первое информационное сообщение
%p 1.06.2012 Завершение приема заявок на участие и текстов докладов
%p 15.06.2012 Второе информационное сообщение с извещением о включении доклада в работу Симпозиума и оплате оргвзноса
%p 15.10.2012 Третье информационное сообщение о дате, месте проведения Симпозиума и программе его работы
%p ноябрь 2012 Работа Симпозиума