.dates
	%table
		%tr.row
			%td.centered 20.03.2012
			%td First announcement
		%tr.row
			%td.centered= speech_deadline
			%td Deadline for applications and abstracts
		%tr
			.row
				%td.centered 15.06.2012
				%td Second announcement with notification of paper acceptance to the work of the Symposium and pay the registration fee
		%tr.row
			%td.centered 15.10.2012
			%td Third announcement on the date, venue of the Symposium and its schedule
		%tr.row
			%td.centered November 2012
			%td The Symposium