.dates
	%table
		%tr.row
			%td.centered 20.03.2012
			%td First announcement
		%tr.row
			%td.centered 06.06.2012
			%td Addendum to the first announcement
		%tr.row
			%td.centered= application_deadline
			%td Deadline for applications
		%tr.row
			%td.centered= abstracts_deadline
			%td Deadline for abstracts
		%tr.row
			%td.centered 6.11.2012 - 9.11.2012
			%td The Symposium