%h2 Organizers
%p Ministry of Education and Science of the Russian Federation
%p Bauman Moscow State Technical University
%p Research institute of Power Engineering Faculty BMSTU
%p Russian Academy of Sciences
%p Ishlinskii Institute for Problem in Mechanics

%h2 Organizing committee

%table
	%tr
		%td 
			%B Chairman:
		%td Fedorov I. B.
		%td (BMSTU, Moscow)
	%tr
		%td 
			%B Vice-chairmen:
		%td Kozlov N.P.
		%td (BMSTU, Moscow)
	%tr
		%td
		%td Surzhikov S.T.
		%td (IPMech RAS, Moscow)
	%tr
		%td 
			%B Academic secretary:
		%td Grishin Yu.M.
		%td (BMSTU, Moscow)
	%tr
		%td 
			%B Committee members:
		%td Aleksandrov A.F.
		%td (Lomonosov MSU, Moscow)
	%tr
		%td
		%td Batenin V.M.
		%td (JIHT RAS, Moscow)
	%tr
		%td
		%td Kamrukov A.S.
		%td (BMSTU, Moscow)
	%tr
		%td
		%td Kolesnik V.P.
		%td (NAU KhAI, Kharkov)
	%tr
		%td
		%td Kochelap V.A.
		%td (ISP NAS of Ukraine, Kiev)
	%tr
		%td
		%td Lyubchenko F.N.
		%td (TSNIIMASH, Korolev)
	%tr
		%td
		%td Popov G.A.
		%td (RIAME MAI, Moscow)
	%tr
		%td
		%td Protasov Yu.S.
		%td (BMSTU, Moscow)
	%tr
		%td
		%td Raizer, Yu.P.
		%td (IPMech RAS, Moscow)
	%tr
		%td
		%td Rozanov V.B.
		%td (LPI RAS, Moscow)
	%tr
		%td
		%td Rukhadze A.A.
		%td (GPI RAS, Moscow)
	%tr
		%td
		%td Stepanov K.L.
		%td (HMTI NAS of Belarus, Minsk)
	%tr
		%td
		%td Fortov V.E.
		%td (RAS, Moscow)
	%tr
		%td
		%td Chumakov A.N.
		%td (IP NAS of Belarus, Minsk)

%h2 Program committee
Kozlov N.P.(chairman), Surzhikov S.T., Grishin Yu.M., Kamrukov A.S., Lyubchenko F.N.









