%h1.title Организационный комитет
%table
	%tr
		%td 
			%B Председатель:
		%td Федоров И.Б.
		%td (МГТУ им. Н.Э. Баумана, г. Москва)
	%tr
		%td 
			%B Зам. Председателя:
		%td Козлов Н.П.
		%td (НИИ ЭМ МГТУ им. Н.Э. Баумана, г. Москва)
	%tr
		%td
		%td Суржиков С.Т.
		%td (ИПМех РАН, г. Москва)
	%tr
		%td 
			%B Ученый секретарь:
		%td Гришин Ю.М.
		%td (МГТУ им. Н.Э. Баумана, г. Москва)
	%tr
		%td 
			%B Члены Оргкомитета:
		%td Александров А.Ф.
		%td (МГУ им. М.В. Ломоносова, г. Москва)
	%tr
		%td
		%td Батенин В.М.
		%td (ОИВТ РАН, г. Москва)
	%tr
		%td
		%td Камруков А.С.
		%td (МГТУ им. Н.Э. Баумана, г. Москва)
	%tr
		%td
		%td Колесник В.П.
		%td (НАУ ХАИ, г.Харьков)
	%tr
		%td
		%td Кочелап В.А.
		%td (ИП НАН Украины, г. Киев)
	%tr
		%td
		%td Любченко Ф.Н
		%td (ЦНИИМАШ, г. Королев)
	%tr
		%td
		%td Попов Г.А.
		%td (НИИ ПМЭ МАИ, г. Москва)
	%tr
		%td
		%td Протасов Ю.С.
		%td (МГТУ им. Н.Э. Баумана, г. Москва)
	%tr
		%td
		%td Розанов В.Б.
		%td (ФИ РАН, г. Москва)
	%tr
		%td
		%td Рухадзе А.А.
		%td (ИОФ РАН, г. Москва)
	%tr
		%td
		%td Степанов К.Л.
		%td (ИТМО НАН Белоруссии, г.Минск)
	%tr
		%td
		%td Фортов В.Е.
		%td (РАН, г. Москва)
	%tr
		%td
		%td Чумаков А.Н.
		%td (ИМАФ НАН Белоруссии, г.Минск)










