Участникам Симпозиума необходимо оплатить оргвзнос в размере 7000 руб. Оргвзнос обеспечивает участие в Симпозиуме одного человека, проживание в пансионате, получение сборника трудов и других материалов Симпозиума. Для участников Симпозиума, которые не будут проживать в пансионате, оргвзнос – 1000 руб.

%p Оргвзнос может быть оплачен следующим образом:
%ol
  %li 
    Перечислен по безналичному расчету по ниже следующим банковским реквизитам:

    %p Получатель: ООО «ЦВТМ при МГТУ имени Н.Э. Баумана»,

    %p ИНН: 7701944000, КПП: 770101001,

    %p р/с 40702810500050220580 в АКБ «РОСЕВРОБАНК» (ОАО) г. Москва,

    %p к/с 30101810800000000777,

    %p БИК 044585777, ОКПО: 96571701, ОКВЭД: 74.30 и др.

    %p Назначение платежа: Оргвзнос на Симпозиум РПД-2012.

  %li 
    Передан наличными в Оргкомитет Симпозиума в г. Москве Синицыной Л.С. по адресу: Лефортовская наб., д. 1, факультет «Энергомашиностроение» МГТУ им. Н.Э.Баумана, комната № 323, тел. (499) 263-69-19.