%ul
	%li Двуязычность (для новостей?)
	%li Публикация презентаций (если будут)
	%li Сообщить об ошибке?
	%li лого
	%li Почтовые вопросы
	%ul
		%li Рассылки?
		%li Mailer
		%li Может, просто завести почту на yandex?
	%li attr_accessible
	%li Добавить пункт в основном меню "Участникам" (раскидать на подменю)
	%li TDD:
	%ul
		%li И в самом конце, тест от лица всех ролей (guest, registered, admin)
		%li Тест всех контроллеров before_filter
		%li Тест всех форм на валидации