%ul
	%li Users + Admin_Users
	%li Validations
	%li Flash[:notice]
	%li Error messages in form (dynamic form on git)
	%li Двуязычность (для новостей?)
	%li Рассылки?
	%li Публикация презентаций (если будут)
	%li Много e-mail'ов и телефонов