%ul
	%li Error messages in form (dynamic form on git)
	%li Двуязычность (для новостей?)
	%li Рассылки?
	%li Публикация презентаций (если будут)
	%li Сообщить об ошибке?
	%li Оживить сайт (дизайн)