%p Тексты тезисов (не более 5 страниц) необходимо выслать до 20-25 мая

Доклады (объемом до 5-ти страниц формата А4) в электронном виде должны быть отправлены в МГТУ до 01.06.2009 . Правила оформления докладов: 

НАЗВАНИЕ ДОКЛАДА
Автор А. В., Автор В. Г.
Организация, город, страна, E-mail

Доклады должны быть набраны в редакторе Word для Windows (Word2000 или Word2003 (не 2008), шрифт Times New Roman, размер 12, для формул - встроенный в Word редактор формул , межстрочный интервал 1,2, красная строка 1см, выравнивание по ширине. Переносы слов допускаются. Заголовок печатается заглавными буквами жирным шрифтом. Рисунки должны быть вставлены в текст. Список литературы приводится в конце докладов по правилам журнала ТВТ. Параметры страниц – сверху, снизу, слева, справа по 25мм. Текст представляется на русском языке. Так как доклады редактироваться не будут, просьба обратить особое внимание на правильность их оформления. Не следует проставлять номера страниц. 
Набранный с указанными выше правилами текст докладов должен быть прислан по электронной почте прикрепленным файлом по адресу: skriabin@power.bmstu.ru .
