= "Attention! Abstract deadline is " + abstracts_deadline + "."
%p= link_to "Abstract processing rules (.doc)", download_rules_en_pages_path
%p= link_to "Abstract formatting example (.doc)", download_sample_pages_path