= "Внимание! Доклады принимаются до " + abstracts_deadline + "."
%p= link_to "Правила оформления текстов докладов (.doc)", download_rules_pages_path
%p= link_to "Пример оформления доклада (.doc)", download_sample_pages_path