# coding: utf-8
-if current_user.admin?
	%h1.title Новый доклад
-else
	= t(:attention_abstract_deadline) + speech_deadline + "."
%p
	.rpd_form
		%fieldset
			%legend= t(:fill_in_form)
			= render 'form'
-if current_user.admin?
	= link_to "<< Назад, к докладам", speeches_path