/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html {
	background: #DFDFDF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	min-width:700px;
	width: 90%;
	margin: 0.5em auto;
	background: black url(body.jpg) repeat-x center top;
	border: solid 1px;
}
header {
	padding: 0 6em 1em 6em;
	text-align:center;
	color: white;
}

.maintitle {
	text-align:center;
	margin-top:0;
	padding:0.1em 0 0.1em 0;
	background: white;
	color: black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	border-left: solid 1px black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

left_bar {
	float: left;
	width: 19em;
}
.main{
	background: #CFB5FF;
	margin-left:19em;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px #E0C7FF;
}
.content {
	margin-top:-1px;
	margin-left:1em;
	background: white;
	min-height:40.5em;
	padding: 0 1em 0 1em; 
	border-left: solid 1px;
	border-top: solid 1px;
}

.title {
	text-align:center;
	color:black;
	background: white;
	margin: 0.5em 1em 0 1em;
}

footer {
	border-top:solid 1px black;
	background:white;
	clear:both;
	text-align:right;
	padding: 0.5em 0 0.5em 0;
}

 /* Navigation */

.nav {
	padding:0em 0em 1em 1em;
	text-align:center;
	width:18em;
	min-height:40em;
}

.nav ul{
	margin:0;
	padding:0;
}
.nav li{
	padding-top:1em;
	padding-bottom:1em;
	width:18em;
	margin-bottom:1em;
	list-style-type:none;
	background: #CFB5FF;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
	border-left: 1.5px solid black;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.nav li a{
	display: block;
	text-decoration:none;	
	font-size:12pt;
}

.nav li a:link{
	color: black;
}

.nav li a:visited{
	color: black;
}

.nav li a:hover{
	text-decoration:underline;
	color: black;
}

.nav li a:active{
	color: red;
}
