/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html {
	background: #DFDFDF;
	font-family: Europe Normal, Verdana, Helvetica, Arial, sans-serif;
}

body {
	min-width:800px;
	width: 90%;
	margin: 0.5em auto;
	background: black url(body.png) repeat-x center top;
	border: solid 1px;
}
header {
	padding: 0 6em 15px 6em;
	text-align:center;
	color: white;
	height:120px;
}
hr.menu_line {
	height: 0px;
}
.maintitle {
	text-align:center;
	margin-top:0;
	padding:0.1em 0 0.1em 0;
	background: white;
	color: black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
	border-left: solid 1px black;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	min-width:40em;
}

left_bar {
	float: left;
	width: 19em;
	border-top: solid 1px black;
}

.content {
	margin-left:20em;
	background: white;
	min-height:30em;
	padding: 0 1em 1em 1em; 
	border-left: solid 1px;
	border-top: solid 1px;
}

.title {
	text-align:center;
	color:black;
	background: white;
	margin: 0.5em 1em 0.5em 1em;
}

footer {
	border-top:solid 1px black;
	background:white;
	clear:both;
	text-align:right;
	padding: 0.2em 0 0.2em 0;
}

 /* Navigation */

.nav {
	margin-left:1em;
	margin-top:1em;
	width:18em;
	text-align:left;
}

.nav ul{
	margin:0;
	padding:0;
}
.nav li{
	
	list-style-type:none;
	padding:0.3em 0 0.3em 0.3em;
	width:18em;
}
.nav li a{
	display: block;
	text-decoration:none;	
	font-size:10pt;
}

.nav li a:link{
	color: white;
}

.nav li a:visited{
	color: white;
}

.nav li a:hover{
	color: #DCCCF7;
}

.nav li a:active{
	color: red;
}
