/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html {
	background: #CFCFCF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	min-width:650px;
	width: 90%;
	margin: 0.5em auto;
	background: #B8B8B8;
	border: solid 1px;
}
header {

	padding: 0 6em 1.5em 6em;
	text-align:center;
	background: #2D2D2D;
	color: white;
}

.maintitle {
	margin-top:0;
	padding:0.1em 0 0.1em 0;
	text-align:center;
	background: white;
	color: black;
}

left_bar {
	float: left;
	width: 19em;
}

.content {
	margin-left:20em;
	background: white;
	min-height:25em;
	padding: 0 1em 0 1em; 
	border-left: solid 1px;
}

.title {
	text-align:center;
	color:white;
	background: #555555;
	padding: 0.5em;
	margin: 0 1em 0 1em;
}

footer {
	border-top:solid 1px black;
	background:white;
	clear:both;
	text-align:right;
	padding: 0.5em 0 0.5em 0;
}

 /* Navigation */

.nav {
	padding:1em 0em 1em 1em;
	text-align:center;
	background:#555555;
	width:18em;
	border-right: solid 1px;
}

.nav ul{
	margin:0;
	padding:0;
}
.nav li{
	padding-top:1em;
	padding-bottom:1em;
	width:18em;
	margin-bottom:1em;
	list-style-type:none;
	background: #B8B8B8;
	border-top: 1.5px solid;
	border-bottom: 1.5px solid;
	border-left: 1.5px solid;
}
.nav li a{
	display: block;
	text-decoration:none;	
	font-size:14pt;
}

.nav li a:link{
	color: black;
}

.nav li a:visited{
	color: black;
}

.nav li a:hover{
	text-decoration:underline;
	color: black;
}

.nav li a:active{
	color: red;
}
