
.status_panel
	%b Регистрация
	до 31.12.2012 
	= signed_in? ? "(Готово)" : ""
	|
	%b Тезисы 
	до 31.12.2012
	= signed_in? ? "(Готово)" : ""
	|
	%b Оплата
	до 31.12.2012
	= signed_in? ? "(Готово)" : ""
