.status_panel
	%table
		%tr
			%th 
			%th Deadline
			%th Статус
		%tr
			%td Регистрация
			%td 31.12.2012
			%td Готово
		%tr
			%td Тезисы
			%td 31.12.2012
			%td Готово
		%tr
			%td Оплата
			%td 31.12.2012
			%td Срочно!